[Unit]
Description=AESD Socket Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/aesdsocket
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

